@import "tailwindcss";

body {
  font-family: 'Comfortaa', 'Inter', 'Open Sans', 'Sora', sans-serif;
}

@theme {
  --color-brand-red: #D23F57;
  --color-bg-main: #F6F9FC;
  
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

